*{
    margin:0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;
}

h3{
    color: blue;
    font-size: 40px;
}



/* p{
    color: indianred;
} */

.text{
    color: purple;
}

#btn{
    background-color: black;
    text-decoration: none;
    color: white;
    /* padding: top right bottom left; */
    /* padding: top+bottom left+right; */
    padding: 10px;

}

.bg-img{
    background-image: url("./assets/bg.png");
    padding: 100px;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* width: 50em; */
}

.box{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
    border-radius: 5px 10px;
}
.dis,
.visi{
    border: 1px solid gray;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.dis{
    display: none;
}

.visi{
    visibility: hidden;
}